<div class="output">
  <% @game.history_entries.each do |entry| %>
    <%= render entry.scene %>
  <% end %>
</div>
<div class="input">
  <%= form_for([@game, @new_command], remote: true) do |f| %>
    <%= f.text_field :text %>
    <%= f.submit "Send" %>
  <% end %>
</div>